//fonts

$titulos: 'Old Standard TT', serif;
$texto: 'Raleway', sans-serif;

// font sizes

$xxxl: 3.125em;
$xxl: 1.875em;
$xl: 1.25em;
$large: 1.125em;
$medium: 1em;
$small: 0.875em;
$xsmall: 0.75em;

// Font weights

$regular: 400;
$bold: 700;

//colors

$black: #0C0910;
$gray: #646266;
$light-gray: #A6A5A8;
$white: #ECECEC;



