body{
    font-family: $texto;
    height: 100vh;
    display: grid;
    grid-template-rows: 72px auto auto auto;
    grid-template-columns: repeat(5, 20%)
    
    
}

.image-container{

    background-image: url('../img/evan-wise-JcP7Tyoy4ME-unsplash.jpg');
    background-size: cover;
    background-position: 50% 25%;
    height: 100%;
    width: 100%;
    // width: 1050px;
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    
}

.main-container{
    width: 100%;
    padding: 60px 40px;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}
.main{
   
    &__title{
        font-size: $xxl;
        font-family: $titulos;
        text-transform: uppercase;
        width: 90%;
        margin-bottom: 1.8rem;
        
    }

    &__text{
        font-size: $medium;
        color: $gray;
        min-width: 60%;
        max-width: 18.75em;
        
        line-height: 1.8em;
        margin-bottom: 1.8rem;

    }
    &__button{
        background-color: transparent;
        padding: 0.8em 2em;
        font-family: $texto;
        font-weight: $bold;
        border: 1px solid $black;
        
    }
}


.news{
    width: 100%;
    height: 100%;
    // padding: 60px 40px;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        background-color: $black;
        padding: 50px 40px;
        width: 100%;
        height: 100%;
    }
    &__title{
        color: $white;
        font-family: $titulos;
        font-size: 1.875rem;
        margin-bottom: 1em;
        font-weight: normal;
    }
    &__input{
        h5{
            color: $white;
            font-family: $titulos;
            font-size: $large;
            font-weight: $regular;
            margin-bottom: 0.3em;
        }
        input{
            width: 50%;
            height: 2rem;
            
        }
        ::placeholder{
            color: $black;
            opacity: 1;
            font-family: $texto;
            font-weight: normal;
        }
        
    }
    &__button{
        
        height: 56px;
        width: 56px;
        position: relative;
        transform: rotate(90deg);
        


        button{
            transform: translateX(-38%);
            height: 56px;
            padding: 0 86.2px;
            width: 232.22px;
            background-color: transparent;
            color: $black;
            font-family: $titulos;
            font-size: $xl;
            font-weight: $bold;
            border: none;
        }
    }
}

@media (max-width: 1200px){
    html, .main{
        font-size: 15px;
    }
    .news{
        
        &-container{
           
            padding-left: 20px;
            
        }
        &__input input{
            width: 90%;
        }
    }
}


@media (max-width: 992px){
    
    html, .main{
        font-size: 13px;
    }
    body{
        width: 100vw;
    }
    .image-container{
        grid-row: 2 / 4;
    }
    .news{
        margin-top: 1em;
        grid-row: 4 / 5;
        grid-column: 1 / 6;
    }
}

@media (max-width: 768px){
    
    html{
        font-size: 15px;
    }
    body{
        grid-template-rows: 4.5rem 1.5fr auto auto;
    }
    .image-container{
        grid-column: 1 / 6;
        grid-row: 2 / 3;
        height: 350px;
    }

    .main{
        
        &-container{
            width: 100%;
            padding: 60px 40px;
            grid-row: 3 / 4;
            grid-column: 1 / 6;
        }
        &__text{
           max-width: 80%;
        }

    }
    
    .news{
        grid-row: 4 / 5;
        grid-column: 1 / 6;
        margin-top: 0;
    }
    
}
@media (max-width: 576px){
    .main{
        font-size: 12px;

        &-container{
            padding: 60px 10px;
        }
        &__text{
            max-width: 90%;
        }
    }
}

